.scrollable{
    // position: relative;
    // background: #fff;
    // display: flex;
    // flex-direction: column;
    width: 100%;
    height:10rem;
    overflow-y: scroll;
    // height: 100%;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;      
        >.scrollableTop{
            top: .07rem;
            position: fixed;
            width: 100%;
            z-index: 7;
            height:0.33rem;
            >.left{
                float: left;
                margin-left:0.1rem;
                >a{
                    margin-left:0.1rem;
                    width:0.33rem;
                    height:0.33rem;
                    // border:1px solid gray;  
                    >.back{
                        float:left;
                        width: .33rem;
                        height: .33rem;
                        display: block;
                        background: url(../../mock/img/m_product.4cfbefa.png);
                        background-size: 1.65rem auto;
                        background-position: 30% 0;
                        background-repeat: no-repeat;
                        z-index:10;
                        }
                 }
            }
            >.right{
                float: right;
                >a{
                    margin-left:0.1rem;
                    width:0.33rem;
                    height:0.33rem;
                    // border:1px solid gray;  
                    >.list{
                        float:left;
                        width: .33rem;
                        height: .33rem;
                        display: block;
                        background: url(../../mock/img/m_product.4cfbefa.png);
                        background-size: 1.65rem auto;
                        background-position: 57% 0;
                        background-repeat: no-repeat;
                        z-index:10;
                        }
                 }
            }
         }
        .fix_kf{
            position: fixed;
            right: 0;
            top: 2.25rem;
            z-index: 99;
            a{
                display: block;
                width: .32rem;
                border-radius: .03rem;
                border: .01rem solid #888;
                padding: .1rem;
                color: #666;
                padding-top: .3rem;
                line-height: .13rem;
                background: hsla(0,0%,100%,.8);
            }
            a::before{ 
                content: "";
                display: inline-block;
                width: .2rem;
                height: .2rem;
                vertical-align: middle;
                position: absolute;
                top: .09rem;
                left: 50%;
                margin-left: -.1rem;
                background: url(../../mock/img/m_product.4cfbefa.png)  83% 0;
                background-size: 1.65rem auto;
                background-repeat: no-repeat;
            }
    }
 }
.detail-footer{
    line-height: .5rem;
    height: .5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    background: #fff;
    // background: pink;
    // opacity:0.5;
    box-sizing: border-box;
    .detail-footer-num{
        float: left;
        position: absolute;
        margin-top: .105rem;
        padding-left: .1rem;
        .detail-footer-inc-dec{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            float: right;
            overflow: hidden;
            padding-right: 0;
            background: url(../../mock/img/inc-dec.png) no-repeat;
            padding: .01rem;
            width: 1.045rem;
            height: .28rem;
            background-size: auto 100%;
            margin-right: .1rem;
        }
    }
    .detail-footer-btn{
        width: 40%;
        float: right;
        text-align: right;
        .add-cart{
            color: #fff;
            height: .5rem;
            margin: 0;
            border-radius: 0;
            font-weight: 400;
            display: block;
            width: 100%;
            cursor: pointer;
            text-align: center;
            border-color: #ff2832;
            background-color: #ff2832;
            line-height: .5rem;
            font-size: .16rem;
            border: 0;
        }
    }
    .cart-num-box{
        float: right;
        width: 25%;
        background: #585858;
        text-align: center;
        a{
            display: block;
            height: .5rem;
            width: 100%;
            position: relative;
            span{
                display: block;
                height: .14rem;
                min-width: .14rem;
                background: #ff2832;
                line-height: .14rem;
                text-align: center;
                border-radius: .07rem;
                color: #fff;
                position: absolute;
                right: 27%;
                top: 15%;
                font-size: .08rem;
            }
        }
        a::before{
            content: "";
            display: inline-block;
            width: .28rem;
            height: .28rem;
            line-height: .25rem;
            vertical-align: middle;
            background: url(../../mock/img/m_product.4cfbefa.png) no-repeat 100% 100%;
            background-size: 1.5rem;
        }
    }
    
}
.slider-slide{
    width:3.75rem;
    height:3.75rem;
    >a .swiper_item{
    width: 100%;
    display: block;
    height: auto;
    }
}
.detail-product{
    width: 100%;
    background-color: #fff;
    padding: 0;
    border-bottom: .01rem solid #e0e0e0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin-bottom: .05rem;
    overflow: hidden;
}
.detail-product-demo{
    padding: .1rem .125rem;
    overflow: hidden;
}
.detail-product-list-text{
    min-height: .9rem;
    width: 80%;
    float: left;
    margin-bottom: .03rem;
}
.detail-product-text{
    display: inline-block;
    >p{
        color:gray;
        display: block;
        line-height: .19rem;
        max-height: .55rem;
        margin-bottom: .05rem;
        overflow: hidden;
        font-size: .14rem;
        >i{
            vertical-align: middle;
            position: relative;
            top: -.01rem;
        }
    }
}
i.icon-oversea-self, i.icon-oversea-shop {
    display: inline-block;
    width: .67rem;
    height: .15rem;
    background-size: 304% auto;
    background-repeat: no-repeat;
}
i.icon-oversea-shop {
    background-image: url(../../mock/img/sprite.@2x.7f3b1bb.png);
    background-position: 0 54.5%;
}
.detail-right-guanzhu {
    width: 18%;
    display: inline-block;
    // float: right;
    text-align: center;
    color: #666;
    position: relative;
}
.detail-right-guanzhu-b {
    border-left: .01rem solid #ccc;
    width: 100%;
    position: relative;
    height: .39rem;
    float: right;
    left: .05rem;
    color: #666;
}
.detail-guanzhu {
    display: inline-block;
    background-position: 0 0;
    line-height: .15rem;
}
.fonce{
    color: #666;  
}
a.detail-guanzhu:before {
    content: "";
    display: inline-block;
    width: .33rem;
    height: .18rem;
    background: url(../../mock/img/m_product.4cfbefa.png) -3% 25%;
    background-size: 1.65rem auto;
    background-repeat: no-repeat;
}
.detail-right-guanzhu span {
    width: 100%;
    display: block;
    text-align: center;
    font-size: .11rem;
    line-height: .22rem;
}
.detail-guanzhu-done a.detail-guanzhu:before {
    background-position: 22.8% 25%;
}
.detail-guanzhu-done span {
    color: #ff2832;
}
.country-pic {
    position: absolute;
    font-size: .11rem;
    bottom: -.45rem;
    line-height: .15rem;
    margin-right: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: .65rem;
}
.country-pic span{
    width: 100%; 
    display: block;
    text-align: center;
    font-size: .11rem;
    line-height: .22rem;
}
.country-pic img {
    max-width: .3rem;
    max-height: .18rem;
    display: inline-block;
    vertical-align: bottom;
}
.goods-info{
    line-height: .2rem;
    clear: both;
    margin-top: .1rem;
}
.l{
    margin-top: -.05rem;
    float: left;
}
.l-shop-item-prize>span:first-child {
    font-size: .21rem;
    color: #ff2832;
    vertical-align: middle;
}

.price {
    color: #ff2832;
}
.l-shop-item-prize>span:first-child s {
    font-size: .14rem;
}
s {
    font-size: .13rem;
    margin-right: .02rem;
    font-style: normal;
    text-decoration: none;
    vertical-align: baseline;
}
.l-shop-item-prize>span.mk-price {
    text-decoration: line-through;
    margin-left: 5px;
    color: #636363;
    font-size: .11rem;
    vertical-align: bottom;
}
.l-shop-item-prize>span.mk-price s {
    vertical-align: bottom;
}
.l-shop-item-prize .icon-baoshui {
    vertical-align: top;
    margin-top: .06rem;
}

i.icon-baoshui {
    display: inline-block;
    width: .29rem;
    height: .14rem;
    background: url(../../mock/img/baosui.png);
    background-position: 0 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.clearfix:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    overflow: hidden;
}
.r {
    float: right;
}
.detail-product-list-demo .goods-info .support {
    height: .14rem;
    line-height: 100%;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}
.detail-product-list-demo .goods-info .support i {
    vertical-align: top;
    margin: 0 .03rem 0 0;
}

i.icon-mianyou { 
    display: inline-block;
    width: .29rem;
    height: .14rem;
    background: url(../../mock/img/sprite.@2x.7f3b1bb.png) 
        37.22397476340694% 86.99472759226714%;
    background-size: 687.0370370370371% 1238%;
}
i.icon-kejifen {
    background: url(../../mock/img/sprite.@2x.7f3b1bb.png)52.348993288590606% 76.44991212653778%;
    display: inline-block;
    width: .39rem;
    height: .14rem;
    background-size: 508.21917808219183% 1238%;
}
.detail-product-list-demo .goods-info .support .support {
    vertical-align: middle;
}

.detail-product-list-demo .goods-info .support {
    height: .14rem;
    line-height: 100%;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}
.public-dl-box{
    background-color: #fff;
    border-bottom: .01rem solid #ddd;
}
.public-dl-box dt {
    width: .85rem;
    float: left;
    text-align: left;
    color: #636363;
    padding: .1rem 0;
    line-height: .2rem;
    height: .4rem;
    padding-left: .1rem;
    font-size: .14rem;
    white-space: nowrap;
}
.public-dl-box dd {
    margin-left: .85rem;
    padding: .1rem 0;
    min-height: .4rem;
    position: relative;
    font-size: .13rem;
    color: #636363;
}
.i-r {
    display: block;
    right: .125rem;
    height: .15rem;
    position: absolute;
    top: 50%;
    margin-top: -.075rem;
    width: .08rem;
    background: url(../../mock/img/xiazai2.png) no-repeat 0 0;
    background-size: 100% auto ;
}
.tuwen-box {
    background-color: #fff;
    margin-bottom: .05rem;
    border-bottom: .01rem solid #ddd;
}
.tuwen-box dt {
    width: .8rem;
    float: left;
    text-align: left;
    color: #636363;
    padding: .1rem 0;
    line-height: .2rem;
    height: .4rem;
    padding-left: .1rem;
    font-size: .14rem;
}
.tuwen-box dd {
    color: #636363;
    margin-left: .8rem;
    padding: .1rem 0;
    height: .4rem;
    position: relative;
}
.tuwen-box dd .a-item {
    display: block;
    height: .16rem;
    text-align: right;
    overflow: visible;
    padding-right: .1rem;
    font-size: .13rem;
    line-height: .2rem;
}
.tuwen-box dd .a-item:before {
    content: "";
    display: inline-block;
    width: .175rem;
    height: .175rem;
    vertical-align: middle;
    margin-right: .02rem;
    background-size: 906% auto;
    background: url(../../mock/img/m_product.4cfbefa.png) 56% 68%;
    background-size: 1.65rem auto;
    background-repeat: no-repeat;
}
.peisong-box {
    padding: .07rem 0;
    background: #fff;
    border-top: .01rem solid #ddd;
    border-bottom: .01rem solid #ddd;
    margin-bottom: .05rem;
}
.peisong-box dl {
    overflow: hidden;
}
.peisong-box dt {
    width: .45rem;
    float: left;
    text-align: center;
    color: #636363;
    padding: 0;
    line-height: .23rem;
    height: .23rem;
    font-size: .14rem;
}
.peisong-box dd {
    margin-left: .52rem;
    padding: 0;
    color: #636363;
    position: relative;
    line-height: .23rem;
    overflow: hidden;
    font-size: .13rem;
}
.peisong-box dd .sub:before {
    content: "";
    width: .17rem;
    background-size: 956% auto;
    height: .17rem;
    display: inline-block;
    vertical-align: middle;
    background: url(../../mock/img/m_product.4cfbefa.png)  73.5% 68.5%;
    background-size: 1.65rem auto;
    background-repeat: no-repeat;
}
.peisong-box dd .sub.map:after {
    content: "";
    width: .24rem;
    height: .17rem;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: .12rem;
    top: .05rem;
    background-size: auto 1000%;
    background: url(../../mock/img/m_product.4cfbefa.png)  86.6% 28%;
    background-size: 1.65rem auto;
    background-repeat: no-repeat;

}
.comment-box {
    background: #fff;
    border-top: .01rem solid #ddd;
    border-bottom: .01rem solid #ddd;
    margin-bottom: .05rem;
}
.comment-box dt {
    height: .5rem;
    border-bottom: .01rem solid #e1e1e1;
    padding-left: .1rem;
    padding-top: .05rem;
    position: relative;
}
.comment-box dt:before {
    content: "";
    display: block;
    right: .125rem;
    height: .15rem;
    width: .08rem;
    background: url(../../mock/img/xiazai2.png) no-repeat 0 0;
    background-size: 100% auto;
    position: absolute;
    top: 50%;
    margin-top: -.075rem;
}
.comment-box dt .s {
    font-size: .14rem;
    color: #333;
}
.comment-box dt .x {
    font-size: .11rem;
    color: #666;
}
.comment-box dt .x em:first-child {
    color: #ff2832;
    font-size: .13rem;
}

.comment-box dt .x em {
    padding-right: .15rem;
    vertical-align: top;
    padding-left: .05rem;
    color: #666;
}
.comment-box .dd-more {
    line-height: .3rem;
    text-align: center;
    font-size: .14rem;
    color: #333;
}
.dianpu-box{
    background: #fff;
}
.dianpu-box dt {
    overflow: hidden;
    height: .45rem;
    padding: .05rem .125rem;
    line-height: .35rem;
}
.dianpu-box dt .dp-logo {
    height: .35rem;
    float: left;
    line-height: .35rem;
}
.dianpu-box dt img {
    max-height: .35rem;
    vertical-align: middle;
    width: auto;
}
.dianpu-box dt .dp-name {
    float: left;
    padding-left: .1rem;
    font-size: .14rem;
    color: #333;
}
.dianpu-box dt .dp-name span {
    display: inline-block;
    height: .17rem;
    line-height: .175rem;
    vertical-align: middle;
    background: #ff2832;
    color: #fff;
    margin-left: .03rem;
    padding: 0 .03rem;
    font-size: .1rem;
    border-radius: .03rem;
}
.dianpu-box dd.dp-info {
    line-height: .3rem;
}
.dianpu-box dd.dp-info ul {
    padding: 0 .125rem;
    padding-bottom: .05rem;
}
.dianpu-box dd ul {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    padding-bottom: .07rem;
}
.dianpu-box dd li {
    color: #333;
    // box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}
.dianpu-box dd.dp-info li:first-child {
    text-align: left;
}
.dianpu-box dd.dp-info li:nth-child(2) {
    text-align:center;
}
.dianpu-box dd.dp-info li:nth-child(3) {
    text-align:right;
   
}
.dianpu-box dd.dp-info li:nth-child(3) em{ 
    color: #1ea956;
}
.dianpu-box dd.dp-info li {
    // text-align: center;
    font-size: .14rem;
    // float: left;
}
.dianpu-box dd.dp-info li em {
    color: #ff2832;
    padding-left: .05rem;
}
.dianpu-box dd.dp-info li em:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: .14rem;
    height: .14rem;
    position: relative;
    top: -.02rem;
    background: url(../../mock/img/m_product.4cfbefa.png)  -.25rem -1.03rem;
    background-size: 1.65rem auto;
    background-repeat: no-repeat;
}
.dianpu-box dd.dp-info li.di em:after {
    background-position: -.38rem -1.03rem;
}
.dianpu-box dd.dp-btn {
    padding: 0 .15rem;
}
.dianpu-box dd ul {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    padding-bottom: .07rem;
}
.dianpu-box dd.dp-btn li {
    text-align: center;
    font-size: .125rem;
}
.dianpu-box dd li {
    // box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}
.dianpu-box dd.dp-btn li a {
    height: .3rem;
    line-height: .3rem;
    width: 73%;
    display: block;
    color: #333;
    border: .01rem solid #8d8d8d;
    margin: 0 auto;
    border-radius: .03rem;
    font-size: .14rem;
}
.dianpu-box dd.dp-btn li a:before {
    content: "";
    display: inline-block;
    width: .2rem;
    height: .2rem;
    vertical-align: middle;
    margin-right: .02rem;
    position: relative;
    background: url(../../mock/img/m_product.4cfbefa.png) -1.22rem 0;
    background-size: 1.65rem auto;
    background-repeat: no-repeat;
}
.dianpu-box dd.dp-btn li:last-child a:before {
    background-position: 0 -1.02rem;
    top: -.02rem;
}
.i-often-buy {
    background-color: #fff;
    margin-top: .08rem;
    width: 100%;
    // overflow-x: scroll;
}
.i-often-buy .iob-t {
    height: .3rem;
    line-height: .3rem;
    padding: 0 .1rem;
}
.i-often-buy .iob-t span {
    font-size: .14rem;
    color: #333;
    padding-left: .2rem;
    background: url(../../mock/img/m_buy.2c4aa0c.png) no-repeat 0;
    background-size: .18rem;
    line-height: .3rem;
    display: block;
}
.fixedBox{
    width:100%;
    // overflow: auto;
 
    // overFlow-x: scroll ;
    // overFlow-y: hidden ;   
}
.max-buy-list {
    // overflow-x: scroll;
    overflow-x: auto;
    // overflow: hidden;
    // width:20rem;
    // display:-webkit-box;
    padding-bottom: .1rem;
    display: flex;
}
.max-buy-list .swiper-slide {
    width: 1rem;
    padding: 0 .08rem;
    position: relative;
    
}
.max-buy-list .swiper-slide img {
    widows: 0.8rem;
    height:0.8rem;
    display: inline-block;  
}
.max-buy-list .iob-name {
    display: block;
    height: .29rem;
    line-height: .14rem;
    overflow: hidden;
    font-size: .11rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding-top: .02rem;
    color:gray;
}
.max-buy-list .iob-info {
    display: block;
    padding-top: 0;
    color: #ff2832;
    font-size: .11rem;
}
.picList img{
    width:100%;
}

